.Component {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 4em;
  text-align: center;
  margin-top: 0;
}

.yes {
  color: #28385B;
}

.no {
  color: #BD2B2C;
}

.img-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.img-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
