.component {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

h1 {
  font-size: 6vh;
  margin: 0;
  font-family: "Arial Black", Gadget, sans-serif;
}

.title {
  margin-top: 10px;
  line-height: 6vh;
}

.textSlider {
  font-size: 3vw;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.block {
  height: 60vh;
  margin: 0 0 20px 0;
  padding: 0;
  position: relative;
}

.block.poll {
  width: 15vw;
}

.block.slider {
  width: 8vw;
  line-height: 60vh;
}

.column {
  margin: 25px 3vw;
}

.flex {
  display: flex;
  justify-content: center;
}

.yes {
  color: #28385B;
}

.no {
  color: #BD2B2C;
}

.img-left {
  position: absolute;
  left: 40px;
  bottom: 30px;
  width: auto;
  height: 25vh;
}

.img-right {
  position: absolute;
  right: 40px;
  bottom: 30px;
  width: auto;
  height: 8vh;
}
