.title {
  font-size: 5vh;
  color: #28385B;
  max-width: 500px;
  margin: 6vh auto 0;
  line-height: 5vh;
}

.buttonText {
  font-size: 4em;
}

.flex {
  right: 0;
  bottom: 10vh;
  left: 0;
  margin: auto;
  position: absolute;
}

.rc-slider {
  width: 450px;
  right: 0;
  bottom: 20vh;
  left: 0;
  margin: auto;
  position: absolute;
}

.p {
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  color: #28385B;
  border-radius: 15px;
  background-color: white;
}

.p.slider {
  bottom: 25vh;
  width: 450px;
}

.p.poll {
  bottom: calc(10vh + 185px);
  width: 310px;
}

@media screen and (max-width: 600px) {
  .title {
    max-width: inherit;
  }

  .rc-slider {
    width: 400px;
  }

  .p.slider {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .rc-slider {
    width: 250px;
  }

  .p.slider {
    width: 250px;
  }
}

@media screen and (max-width: 400px) {
  .rc-slider {
    width: 200px;
  }

  .p.slider {
    width: 200px;
  }
}
