.title {
  font-size: 4em;
  text-align: center;
  color: #28385B;
}

.button {
  font-size: 4em;
  text-align: center;
  color: black;
}

.flex {
  text-align: center;
}

.rc-slider {
  max-width: 250px;
  margin: auto;
}
