.title {
  font-size: 5vh;
  color: #28385B;
  max-width: 500px;
  margin: 6vh auto 0;
}

.buttonText {
  font-size: 4em;
}

.flex {
  right: 0;
  bottom: 10vh;
  left: 0;
  margin: auto;
  position: absolute;
}

.rc-slider {
  max-width: 450px;
  right: 0;
  bottom: 20vh;
  left: 0;
  margin: auto;
  position: absolute;
}

.p {
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  color: #28385B;
}

.p.slider {
  bottom: 25vh;
}

.p.poll {
  bottom: calc(10vh + 185px);
}

@media screen and (max-width: 600px) {
  .title {
    max-width: inherit;
  }

  .rc-slider {
    max-width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .rc-slider {
    max-width: 250px;
  }
}

@media screen and (max-width: 400px) {
  .rc-slider {
    max-width: 200px;
  }
}
